<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="webcommand.ZPM">
    <Module>
      <Name>webcommand</Name>
      <Version>0.0.2</Version>
      <Description>Slim Command from Web</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
	    <FileCopy Name="csp/" Target="${cspdir}webcmd"/>
	    <Invokes>
	      <Invoke Class="%SYSTEM.OBJ" Method="ImportDir">
          <Arg>${cspdir}webcmd</Arg>
          <Arg>*.csp</Arg>
		      <Arg>c</Arg>
        </Invoke>
      </Invokes>
    </Module>
  </Document>
</Export>
