<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="webcommand.ZPM">
    <Module>
      <Name>webcommand</Name>
      <Version>0.0.1</Version>
      <Description>Slim Command from Web</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <CSPApplication 
        Url="/user"
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="1"
        UnauthenticatedEnabled="0"
        SourcePath="/csp"
        DeployPath="{$cspdir}/user"
        ServeFiles="1"
        Recurse="1"
        CookiePath="/user"
      />
    </Module>
  </Document>
</Export>
